body{
  background-color: #212121;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
  gap: 32px;
}

.cidade, .estado {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

select {
  background-color: #313131;
  border-radius: 4px;
  outline: none;
  border: none;
  height: 100%;
  width: 300px;
  max-width: 100%;
  font-size: 1.3rem;
  padding: 6px;
  display: block;
  align-self: center;
  color: white;
  border: #111 solid 1px;
}

select:disabled{
  background-color: #13131356;
}


label {
  font-size: 1.4rem;
}

.logContainer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  grid-column: 1/-1;
}